/* ******COMMON****** */
*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
 font-family: sans-serif;
}

.padding-left{
  padding-left: 2.5rem;
}

/* ****HOVER**** */

.hdr-container:hover {
  border-bottom: 1px solid gray;
}

.little-square.uno:hover{
  box-shadow: inset 1em 1rem 1rem  red;
}



/* ******HEADER***** */

header{
   
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    border-bottom: 1px solid  #878787;
    z-index: 999;
}

.hdr-container{
  padding: 1.3rem 0.5rem;
}

p{
   color: #878787;
}

.left{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 10px;
    height: 100%;
}

.right{
    display: flex;
    gap: 10px;
    padding-right: 10px;
    align-items: center;
}

.accedi{
    border: none;
    background-color: white;
    color: #878787;
}

.inizia{
    border: none;
    background-color: #1c72ff;
    color: white;
    padding: 5px 8px;
}

 /* ******MAIN****** */


   /* ****SEZIONE 1*****  */
.sezione-uno{
    background-color: #b4d0e7;
    height: 45rem;
    padding-top: 5rem;
}

.jumbo-text{
    width: 100%;
    padding-left: 230px;
    margin-top: 3rem;
    
}

h1{
   font-size: 75px;
   font-weight: bold;
}
 .free-trial{
    width: 20%;
    color: black;
    height: 100%;
 }

 .free-trial > p{
  color: black;
}

 .container{
    
    width: 50%;
    
 }

  .jumbotron{
   width: 100%;
 }

 .blue-button{
   background-color: #0061ff;
   color: white;
   padding: 10px 12px;
   margin: 1.5rem 0;

 }

 .fa-solid.fa-arrow-down{
   font-size: 40px;
   display: block;
   margin-top: 5rem;
 }

 .box{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 4rem;
 }

 a{
  text-decoration: none;
 }

 /* ****SEZIONE DUE**** */

 .sezione-due{
    padding-top: 5rem;
 }

 #annuale{
   margin-left: 25px;
 }

 h2{
   font-size: 30px;
   margin: 3rem 0;
 }


 h3{
   margin-top: 1.5rem;
   padding-left: 2.5rem;
 }

 input[type=radio]{
    margin-top: 20px;
    margin-bottom: 30px;
 }

 .business{
    width: 60%;
    margin: 0 auto;
 }

 .col-container{
    margin: 0 auto;
    
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;

 }

 .inizio-col{
   text-align: center;
   padding: 0.8rem 0;
 }

 .col{
    width: calc(100% / 3 - 10px);
    border: 2px solid #e7e7e8;
 }
 .black{
   padding-left: 2.5rem;
   color: black;
   margin: 1.2rem 0;
 }

 .fa-solid.fa-check{
  color: #0061ff;
  font-size: 18px;
 }

 .team-box{
    width: 60%;
    height: 200px;
    border: 2px solid #e7e7e8;
    margin: 0 auto;
   position: relative;
 }

 hr{
    border: 1px solid #e7e7e8;
 }

 .trattino{
   border: 1px solid #e7e7e8;
   width: 15%;
   margin: 2.5rem 2.5rem;
 }

 i{
   color: black;
   padding-right: 5px;
 }

 .blue-button.due{
   margin-left: 2.5rem;
 }

 .blue-button.tre{
   position: absolute;
   right: 20px;
   top: 50px;
 }

 .text{
   margin-left: 2.5rem;
   margin-top: 0.5rem;
 }

 /* *****SEZIONE 3***** */

 .margin-top{
   margin-top: 3.5rem;
 }
 .sezione-tre{
    display: flex;
    justify-content: center;
    padding: 5rem 0;
 }

 .box-foto{
    width: 40%;
    height: 500px;s
 }

 .partner{
   width: 100%;
   height: 100%;
 }

 .box-testo{
    width: 20%;
    height: 400px;
 }

 .border-button{
   border: 3px solid #b9bbb0;
   color: #242e3e;
   padding: 0.8rem 1rem;
   margin-left: 2.5rem;
   margin-top: 3.5rem;
 }

 /* ***SEZIONE QUATTRO**** */

 .sezione-4{
    width: 100%;
 }

 .big-container{
    width: 60%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
 }

 .h2-box{
    width: 60%;
    margin: 0 auto;
 }

 .col-2{
    width: calc(100% / 3);
    padding-right: 0.5rem;
    margin-top: 1rem;
 }

 .image{
   width: 100%;
 }

 .rectangle{
    width: 100%;
    text-align: left;
    margin: 5rem 0;
 }

 /* *****SEZIONE CINQUE**** */

 #sezione-5{
   display: flex;
   width: 100%;
   
 }

 .logo-clienti{
   width: 50%;
   filter: invert(1);
 }
 .logo-selezionato{
   width: 60%;
 }

 .square{
    width: calc(100% / 3);
    aspect-ratio: 1;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
 }

 .square.whole{
   padding-left: 2rem;
   padding-top: 1.5rem;
   display: flex;
   align-items: start;
   flex-direction: column;
 }

 .little-square{
    width: 50%;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .little-square.uno{
   background-color: #a2d39b;
 }
 .little-square.due{
   background-color: #61082b;
 }
 .little-square.tre{
   background-color: #0093ce;
 }
 .little-square.quattro{
   background-color: #ff1c1c;
 }
 .little-square.cinque{
   background-color: #d5001f;
 }
 .little-square.sei{
   background-color: #b4d0e7;
 }
 .little-square.sette{
   background-color: #0d2481;
 }
 .little-square.otto{
   background-color: #ffd830;
 }

 .CEO{
   margin-top: 3rem;
 }

 /* ****SEZIONE SEI**** */

 .trial{
    background-color: #b4d0e7;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 button{
    border: none;
    padding: 0.5rem;
    background-color: white;
 }

 /* ****SEZIONE SETTE */

 .sezione-7{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
 }

 .fa-solid.fa-chevron-down{
   margin-left: 7rem;
 }
 
 .risposta{
   display: none;
   margin-bottom: 10px;
 }

 .FAQ{
    width: 60%;
    height: 400px;
 }
 .domanda{
   color: black;
   font-size: 18px;
   padding: 2rem 0;
 }

 .domanda:hover .fa-solid.fa-chevron-down {
   transform: rotate(180deg);
 }
 .domanda:hover + .risposta{
   display: block;
 }


 /* *****FOOTER******* */

 footer{
    background-color: black;
    color: white;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .footer-container{
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    position: relative;
 }

 ul{
    list-style: none;
    margin-bottom: 30px;
 }

 li{
    margin-top: 20px;
    font-size: 12px;
 }

 .lingue{
  color: white;
  position: absolute;
  bottom: 0;
 }

 .fa-solid.fa-earth-americas{
  color: white;
  margin-top: 2rem;
 }

 .hr-footer{
  width: 100px;
 }

 
